body {
    background-color: hsla(184, 63%, 72%, 0.863);
    color: black;
    font-family: 'Times New Roman', 'Georgia', serif;
}
.header {
    background-color: hsla(207, 63%, 72%, 0.863);
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border:2px solid black;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}
.details {
    background-color: hsla(207, 63%, 72%, 0.863);
    color: white;
    padding: 20px;
    font-size: 16px;
    line-height: 1.8;
    border:2px solid black;
    border-radius:1rem;
}
.nav-buttons {
    margin: 20px 0;
}
.nav-buttons button {
    width: 48%;
    background-color: hsla(207, 63%, 72%, 0.863);
    color: white;
    border:2px solid black;
    border-radius:1rem;
}
.links {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.links div {
    background-color: hsla(207, 63%, 72%, 0.863);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 48%;
    text-align: center;
    border:2px solid black;
    border-radius:1rem;
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: hsla(207, 63%, 72%, 0.863);
    color: white;
    font-size: 14px;
    border:2px solid black;
    border-radius:1rem;
}